.navbar {
    background-color: #eeeeee; 
    padding: 0 4%;             /* 左右留白，上下不留白 */
    height: 60px;              /* 导航栏固定高度 */
    
    display: flex; 
    justify-content: space-between; /* 两端对齐：Logo在最左，链接在最右 */
    align-items: center;            /* 垂直居中对齐 */
    
    /*底部阴影 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); 
}

/* Logo 的排版 */
.nav-logo a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

/* about 的排版 */
.nav-about a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}
